@font-face {
    font-family: 'Chomsky';
    src: url("../../public/static/fonts/Chomsky.otf");
}
@font-face {
    font-family: 'ZCOOL Addict Italic 02';
    src: url("../../public/static/fonts/ZCOOL Addict Italic 02.ttf");
}
